.container {
  display: flex;
  justify-content: space-around;
  margin: 5px;
  padding: 5px;
}

.category {
  font-size: 18px;
  font-weight: bold;
  width: 300px;
  text-align: center;
}

.category-name {
  border: 2px solid darkgray;
  height: 60px;
  line-height: 60px;
}

.title {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.tagline {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.tech-container {
  border: 1px solid gray;
  border-radius: 0 0 10% 10%;
}

.technology {
  font-size: 14px;
  border-top: 0.5px solid gray;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
}
